<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading" style="text-align: center; margin-bottom: 30px">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
       
        {% if site.facebook_username %}
          <a href="https://facebook.com/shakebameen">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>
        {% endif %}
        
        {% if site.twitter_username %}
            <a href="https://twitter.com/shakebameen">
              <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        {% endif %}

        {% if site.instagram_username %}
            <a href="https://instagram.com/shakebameen">
              <i class="fa fa-instagram fa-2x"></i>
            </a>
        {% endif %}

        {% if site.reddit_username %}
            <a href="https://reddit.com/u/shakebameen">
              <i class="fa fa-reddit fa-2x"></i>
            </a>
        {% endif %}

      </div>

      <div class="footer-col footer-col-3">
        <p></p>
      </div>
    </div>

  </div>

</footer>
